#vantajs {
    width: 100%;
    height: 100vh;
  }
  
  h1 {
    color: #fff !important;
  }
  
  @media screen and (max-width: 1024px) {
    #vantajs {
     max-height: 100vh;
    }
    
     h1 {
      font-size: 1.5rem;
    }
  }